<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="animal1" class="com.revature.models.Animal">
        <constructor-arg index = "0" value = "cat"/>
        <constructor-arg index = "1" value = "Whiskers"/>
        <constructor-arg index = "2" value = "Furry"/>
        <constructor-arg index = "3" value = "4"/>
    </bean>
    <bean id="owner" class = "com.revature.models.Owner">
        <property name="name" value="Josh Smith"/>
        <property name="pet" ref="animal1"/>
    </bean>

    <util:list id="animals" value-type="java.lang.String">
        <value>Dog</value>
        <value>Cat</value>
        <value>Fish</value>
        <value>porcupine</value>
        <value>mouse</value>
    </util:list>
</beans>