body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#todoForm {
    margin-bottom: 20px;
}

#todoInput {
    width: calc(100% - 90px);
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#addButton {
    padding: 10px 20px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #add
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.completed button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}